* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

button {
  margin: 20px 45%;
  background-color: green;
  height: 30px;
  width: 100px;
  color: white;
}

h1 {
  text-align: center;
}

.php_display {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 30px;
}

.php_display .item {
  width: 200px;
  margin: 20px;
}

.php_display .item h3 {
  height: 50px;
}

.php_display .item img {
  width: 100%;
}

.php_display .item p {
  height: 20px;
}

.jsonappend {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 30px;
}

.jsonappend .item {
  width: 200px;
  margin: 20px;
}

.jsonappend .item h3 {
  height: 50px;
}

.jsonappend .item img {
  width: 100%;
}

.jsonappend .item p {
  height: 20px;
}

