* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden{
  display: none !important;
}
button {
  text-align: center;
  margin:auto;
}
h1 {
  text-align: center;
}
.php_display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
  .item {
    width: 200px;
    margin: 20px;
    h3 {
      height: 50px;
    }
    img {
      width: 100%
    }
    p {
      height: 20px;
    }
  }
}
